.evento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    font-size: 20px;
    text-align: center;

    width: auto;
    height: auto;

}

.image {
    width: 50%;
    height: 248px;
}


.eventoTitulo {
    color: black;
    padding-bottom: 10px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;

    line-height: 40px;
    text-align: center;

}