.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    padding: 1rem;
    
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;

    width: auto;
    height: auto;

    perspective: 1000px;

    transition: transform 0.5s;
  
}

/* .conteudo{
    transition: transform 1s;
    transform-style: preserve-3d;
} */



.card a {
    text-decoration: none;
}


.card:hover{
    /* transform:  rotateX(360deg)rotateY(360deg); */
    /* transform:  rotateZ(180deg) rotateY(360deg);  */
    /* transform: rotate3d(0, 1, 0, 180deg); */ 
    transform: rotateY(10deg) scale(1.1);
}

/* .frente, .verso {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;    
}

.frente {

  }

.verso {
    background-color: #e74c3c;
    color: white;
    transform: rotateY(180deg);
  }
  

.flipped {
    transform: rotateY(180deg);
  } */


.cardTitulo {
    color: black;
    padding-bottom: 10px;

    font-size: 40px;
}